spring:
  datasource:
    url: jdbc:postgresql://<DB_URL>:5432/<DB_NAME>
    username: <USERNAME>
    password: <PASSWORD>
    hikari:
      maximum-pool-size: 3
      minimum-idle: 3
  jpa:
    hibernate:
      ddl-auto: create-drop # Drop and create new database before and after running spring
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
    defer-datasource-initialization: true # Make sure hibernate runs before loading the data.sql file
  sql:
    init:
      mode: always # Load initial data from the data.sql file

server:
  port: 4000
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
    include-exception: false
